body {
    font-family:"Edu SA Beginner";
    background-color:#D6D0C1;
    color:#315B8F;
}



h1,h2,h,h4,h5,h6 {
    font-family: "Patrick Hand";
    font-size: 110pt;
    text-align: center;
    
}

    


header {
        text-align: center;
        border: 25px solid #6E708A;
        background-color:#B6C4D6;
        border-radius: 2rem;
        border-style:double;
    

}

#hero {
    text-align: center;
    font-size: 70pt;
    border: 25px solid #6E708A;
    border-radius: 2rem;
    border-style: double;
    font-weight: 900;
   
    

}



#bio {
    background-color: ;
    text-align: center;
    font-size: 70pt;
    background-color:#B6C4D6;
    border: 25px solid #6E708A;
    border-radius: 2rem;
    border-style: double;
    
}

  

#hobbies {
    font-size: 70pt;
    background-color:#D6D0C1;
    border: 25px solid #6E708A;
    border-radius: 2rem;
    border-style: double;
    
}

#hobbies ul li:nth-child(even) {
   color: #6E708A;
    font-weight:700;
    
}
#hobbies ul li:nth-child(odd) {

    font-weight:900;
    font-variant-caps: small-caps;
    
}


