body {
    font-family:"Edu SA Beginner";
    background-color:#d6d0c1;
    color:#315b8f;
}




h1,h2,h3,h4,h5,h6 {
    font-family: "Patrick Hand";
    font-size: 55pt;
    text-align: center;
    
}

h2{
    margin: .3rem;
    
     }


header {
        text-align:center;
        border: 25px solid #6e708a;
        background-color:#b6c4d6;
        border-radius: 2rem;
        border-style:double;
        position: relative;
        /* margin-right: 99%;
        margin-left: 15%; */
        margin-right: 99%;
        margin-left: 6.5%;
        width: 100%;
       
    

}

/* Hero Section */

#hero {
    text-align: center;
    font-size: 40pt;
    border: 25px solid #6E708A;
    border-radius: 2rem;
    border-style: double;
    font-weight: 900;
    position: relative;
    /* margin-right: 99%;
    margin-left: 15%; */
    margin-right: 99%;
    margin-left: 6.5%;
    width: 100%;

 .pic {
    position: relative;
    margin-right: 10%;
    width: 100%;
    border-radius: 10px;
    
}
    
  
   
    

}



/* Bio Section */

#bio {
    background-color: ;
    text-align: center;
    font-size: 40pt;
    background-color:#B6C4D6;
    border: 25px solid #6E708A;
    border-radius: 2rem;
    border-style: double;
    position: relative;
    /* margin-right: 99%;
    margin-left: 15%; */
    margin-right: 99%;
    margin-left: 6.5%;
    width: 100%;
    
}

  /* Hobbies Section */

#hobbies {
    font-size: 40pt;
    display: flex;
    flex-direction: column;
    background-color:#D6D0C1;
    border: 25px solid #6E708A;
    border-radius: 2rem;
    border-style: double;
    
    

}

#hobbies ul li:nth-child(even) {
   color: #6E708A;
    font-weight:700;
    
}
#hobbies ul li:nth-child(odd) {

    font-weight:900;
    font-variant-caps: small-caps;
    
}

#hobbies {
display: flex;
flex-direction: column;
align-items: center;
position: relative;
/* margin-right: 99%;
margin-left: 15%; */
margin-right: 99%;
    margin-left: 6.5%;
width: 100%; }

#hobbies p {
    text-align: center;
   
}



/* Gallery Section */

#gallery {

    border: 25px solid #6E708A;
    border-radius: 2rem;
    border-style: double;
    font-size: 55px;
    background-color:#B6C4D6;
    position: relative;
    /* margin-right: 99%;
    margin-left: 15%; */
    margin-right: 99%;
    margin-left: 6.5%;
    width: 100%;

}

#gallery img {
max-width:75%;
border-radius: 2rem;

}

#gallery figure {
    text-align:center;

}

/* Literature */

#lit {
    font-size: 45px;
    border: 25px solid #6E708A;
    border-radius: 2rem;
    border-style: double;
    margin-bottom: 2rem;
    position: relative;
    /* margin-right: 99%;
    margin-left: 15%; */
    margin-right: 99%;
    margin-left: 6.5%;
    width: 100%;
}

#lit div {

    padding:5rem;
    max-width: 100%;
    margin: 0 auto;
    
}



#lit div p:first-child:first-line {

    font-weight: 900;
    font-variant-caps: small-caps;
    font-family: "Patrick Hand";
    font-size:90px;
    
    
    
}

#lit div p:first-child:first-letter {

    font-size:170px;
    font-family: "Patrick Hand";
    
    
}



/* Video */

#myVideo {

    padding: 0;
    border: none;
    width: 200px;
    height: 200px;
    
}


.wrapper {

    margin 0 auto;
    width: 1000px;
}
.videowrapper {

    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;

}

.videowrapper iframe {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;

}
#shortVideo {

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 45px;
    text-align: center;
}


/* Blog Article */

#pngStar {
    width: 100%;
    border-radius: 2em;
    border: solid #6E708A 5px;
    display: flex;

    
}

#svgStar {
    width: 100%;
    border: solid #6E708A 5px;
    border-radius: 2em;
    background-color: white;
    display: flex;
    margin-right: 0.9px;
    
    
}

#stardescriptPNG{
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom:25px;

}



/* Contact Form */

#formElements{

    display:grid;
    row-gap: .5em;

}

#contact {

    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
    position: relative;
    width: 100%;
}

fieldset {
    border: 5px solid;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 2rem;
}


legend {
    background-color: #315B8F;
    color: white;
    padding: .5em;
    border-radius: 2em;
    font-size:20px;

}
#contact input, #contact textarea, #contact select, #contact button {

    padding: .5em;
    font-size: 1rem;
    border-radius: 2em;

}

#contact ul {
    list-style: none;
    padding: 0px;
    

}

#contact li {
     margin: 1rem;

}

#contact button {

    background-color: #315B8F;
    border: 1px solid #315B8F;
    max-width: 400px;
    width: 50%;
    justify-self: center;
    color: white;
    font-size: 25px;
    font-family: "Patrick Hand";

    
}


/* Logo */

.logo-img {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    margin-left: 150px;
    width: 200px;
    height: 300px;
   
}





/* Tablet Size */

@media screen and (min-width: 60em) {
    figure {
    display: grid;
    grid-template-columns: 2fr 1fr;


    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        margin-left: 1rem;
    }

    


    #gallery img{

        max-width: 100%;
    }
         

        #lit div {
            max-width: 100%;
            columns: 45rem; }

   
            

    #shortVideo {
        max-width: 100%;
        columns: 45rem;
    } 

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        margin-left: 1rem

    }

    .pic { 
        position: relative;
        margin-right: 45%;
        margin-left: 10%;
        max-width: 75%;
        align-items: center;
        margin-top: 25px;
        border: 18px solid #315B8F;
        
    }


    }


/* Large Screen */

@media screen and (min-width: 100em) {

  #gallery {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  hr{ display:none;}

  #gallery h2{
    grid-column: 1/ -1;

  }
  
  figure{
    display: block;
  }
  
  #shortVideo {
    max-width: 100%;
    columns: 45rem;
} 

figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    margin-left: 1rem

}


 #contact {
   margin: 25rem auto;
  }

.pic {
    max-width:min-content;
    
}

 
}